body, html {
  margin: 0;
  padding: 0;
}

.header {
  background: #9acd32;
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  height: 100px;
}

.logo-img {
  width: 142px;
  height: 74px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  font-family: fantasy;
  font-size: larger;
  padding-right: 44px;
}

.restaurant-card {
  border: 1px solid black;
  width: 200px;
  height: 280px;
  margin-left: 15px;
}